# PD 

PD (probability of default) depends on 


Discrete
- categorical
- finite number of values like A,B,B2

Continuous
- Numerical
- Infinite number of values


Distinctive feature of the PD model是把continuous data bucket到categorial values中去,like a score card, 像PR一样，不同年龄的bucket, 学校地点的bucket etc.



Bucketing分为`Coarse classing` and `fine classing`.

![](./assets/1.png)

In [1]:
import pandas as pd
import numpy as np

## Explore Data

In [2]:
loan_data_backup = pd.read_csv("../data/loan_data_2007_2014.csv")

/var/folders/ys/p64w8p0x29x2zwj61fscpjd40000gn/T/ipykernel_54067/2729736447.py:1: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  loan_data_backup = pd.read_csv("../data/loan_data_2007_2014.csv")

In [3]:
loan_data = loan_data_backup.copy()
loan_data.head(5)

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,0,1077501,1296599,5000,5000,4975.0,36 months,10.65,162.87,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1077430,1314167,2500,2500,2500.0,60 months,15.27,59.83,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1077175,1313524,2400,2400,2400.0,36 months,15.96,84.33,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1076863,1277178,10000,10000,10000.0,36 months,13.49,339.31,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1075358,1311748,3000,3000,3000.0,60 months,12.69,67.79,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# unlimited data
pd.options.display.max_columns = None
loan_data

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,0,1077501,1296599,5000,5000,4975.0,36 months,10.65,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-85,1.0,NaN,NaN,3.0,0.0,13648,83.7,9.0,f,0.00,0.00,5861.071414,5831.78,5000.00,861.07,0.00,0.00,0.00,Jan-15,171.62,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1077430,1314167,2500,2500,2500.0,60 months,15.27,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-11,Charged Off,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I plan to use t...,car,bike,309xx,GA,1.00,0.0,Apr-99,5.0,NaN,NaN,3.0,0.0,1687,9.4,4.0,f,0.00,0.00,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-13,119.66,NaN,Sep-13,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1077175,1313524,2400,2400,2400.0,36 months,15.96,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,NaN,small_business,real estate business,606xx,IL,8.72,0.0,Nov-01,2.0,NaN,NaN,2.0,0.0,2956,98.5,10.0,f,0.00,0.00,3003.653644,3003.65,2400.00,603.65,0.00,0.00,0.00,Jun-14,649.91,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1076863,1277178,10000,10000,10000.0,36 months,13.49,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > to pay for prop...,other,personel,917xx,CA,20.00,0.0,Feb-96,1.0,35.0,NaN,10.0,0.0,5598,21.0,37.0,f,0.00,0.00,12226.302210,12226.30,10000.00,2209.33,16.97,0.00,0.00,Jan-15,357.48,NaN,Jan-15,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1075358,1311748,3000,3000,3000.0,60 months,12.69,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-11,Current,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > I plan on combi...,other,Personal,972xx,OR,17.94,0.0,Jan-96,0.0,38.0,NaN,15.0,0.0,27783,53.9,38.0,f,766.90,766.90,3242.170000,3242.17,2233.10,1009.07,0.00,0.00,0.00,Jan-16,67.79,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
466280,466280,8598660,1440975,18400,18400,18400.0,60 months,14.47,432.64,C,C2,Financial Advisor,4 years,MORTGAGE,110000.0,Source Verified,Jan-14,Current,n,https://www.lendingclub.com/browse/loanDetail....,NaN,debt_consolidation,Debt consolidation,773xx,TX,19.85,0.0,Apr-03,2.0,NaN,NaN,18.0,0.0,23208,77.6,36.0,w,12574.00,12574.00,10383.360000,10383.36,5826.00,4557.36,0.00,0.00,0.00,Jan-16,432.64,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,294998.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29900.0,NaN,NaN,NaN
466281,466281,9684700,11536848,22000,22000,22000.0,60 months,19.97,582.50,D,D5,Chief of Interpretation (Park Ranger),10+ years,MORTGAGE,78000.0,Verified,Jan-14,Charged Off,n,https://www.lendingclub.com/browse/loanDetail....,NaN,debt_consolidation,Debt consolidation,377xx,TN,18.45,0.0,Jun-97,5.0,NaN,116.0,18.0,1.0,18238,46.3,30.0,f,0.00,0.00,4677.920000,4677.92,1837.04,2840.88,0.00,0.00,0.00,Dec-14,17.50,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,221830.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39400.0,NaN,NaN,NaN
466282,466282,9584776,11436914,20700,20700,20700.0,60 months,16.99,514.34,D,D1,patrol,7 years,MORTGAGE,46000.0,Verified,Jan-14,Current,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/06/13 > I am going to c...,debt_consolidation,Debt consolidation,458xx,OH,25.65,0.0,Dec-01,2.0,65.0,NaN,18.0,0.0,6688,51.1,43.0,f,14428.31,14428.31,12343.980000,12343.98,6271.69,6072.29,0.00,0.00,0.00,Jan-16,514.34,Feb-16,Dec-15,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,73598.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13100.0,NaN,NaN,NaN
466283,466283,9604874,11457002,2000,2000,2000.0,36 months,7.90,62.59,A,A4,Server Engineer Lead,3 years,OWN,83000.0,Verified,Jan-14,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,NaN,credit_card,Credit card refinancing,913xx,CA,5.39,3.0,Feb-03,1.0,13.0,NaN,21.0,0.0,11404,21.5,27.0,w,0.00,0.00,2126.579838,2126.58,2000.00,126.58,0.00,0.00,0.00,Dec-14,1500.68,NaN,Apr-15,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,591610.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53100.0,NaN,NaN,NaN
466284,466284,9199665,11061576,10000,10000,9975.0,36 months,19.20,367.58,D,D3,NaN,10+ years,MORTGAGE,46000.0,Verified,Jan-14,Current,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/04/13 > I will like a l...,other,Other,950xx,CA,22.78,1.0,Feb-00,0.0,9.0,NaN,6.0,0.0,11325,70.8,22.0,f,3984.38,3974.41,8821.620000,8799.57,6015.62,2806.00,0.00,0.00,0.00,Jan-16,367.58,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,57477.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16000.0,NaN,NaN,NaN

In [5]:
loan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 466285 entries, 0 to 466284
Data columns (total 75 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Unnamed: 0                   466285 non-null  int64
 1   id                           466285 non-null  int64
 2   member_id                    466285 non-null  int64
 3   loan_amnt                    466285 non-null  int64
 4   funded_amnt                  466285 non-null  int64
 5   funded_amnt_inv              466285 non-null  float64
 6   term                         466285 non-null  object
 7   int_rate                     466285 non-null  float64
 8   installment                  466285 non-null  float64
 9   grade                        466285 non-null  object
 10  sub_grade                    466285 non-null  object
 11  emp_title                    438697 non-null  object
 12  emp_length                   445277 non-null  object
 13  home_ownership               466285 non-null  object
 14  annual_inc                   466281 non-null  float64
 15  verification_status          466285 non-null  object
 16  issue_d                      466285 non-null  object
 17  loan_status                  466285 non-null  object
 18  pymnt_plan                   466285 non-null  object
 19  url                          466285 non-null  object
 20  desc                         125981 non-null  object
 21  purpose                      466285 non-null  object
 22  title                        466264 non-null  object
 23  zip_code                     466285 non-null  object
 24  addr_state                   466285 non-null  object
 25  dti                          466285 non-null  float64
 26  delinq_2yrs                  466256 non-null  float64
 27  earliest_cr_line             466256 non-null  object
 28  inq_last_6mths               466256 non-null  float64
 29  mths_since_last_delinq       215934 non-null  float64
 30  mths_since_last_record       62638 non-null   float64
 31  open_acc                     466256 non-null  float64
 32  pub_rec                      466256 non-null  float64
 33  revol_bal                    466285 non-null  int64
 34  revol_util                   465945 non-null  float64
 35  total_acc                    466256 non-null  float64
 36  initial_list_status          466285 non-null  object
 37  out_prncp                    466285 non-null  float64
 38  out_prncp_inv                466285 non-null  float64
 39  total_pymnt                  466285 non-null  float64
 40  total_pymnt_inv              466285 non-null  float64
 41  total_rec_prncp              466285 non-null  float64
 42  total_rec_int                466285 non-null  float64
 43  total_rec_late_fee           466285 non-null  float64
 44  recoveries                   466285 non-null  float64
 45  collection_recovery_fee      466285 non-null  float64
 46  last_pymnt_d                 465909 non-null  object
 47  last_pymnt_amnt              466285 non-null  float64
 48  next_pymnt_d                 239071 non-null  object
 49  last_credit_pull_d           466243 non-null  object
 50  collections_12_mths_ex_med   466140 non-null  float64
 51  mths_since_last_major_derog  98974 non-null   float64
 52  policy_code                  466285 non-null  int64
 53  application_type             466285 non-null  object
 54  annual_inc_joint             0 non-null       float64
 55  dti_joint                    0 non-null       float64
 56  verification_status_joint    0 non-null       float64
 57  acc_now_delinq               466256 non-null  float64
 58  tot_coll_amt                 396009 non-null  float64
 59  tot_cur_bal                  396009 non-null  float64
 60  open_acc_6m                  0 non-null       float64
 61  open_il_6m                   0 non-null       float64
 62  open_il_12m                  0 non-null       float64
 63  open_il_24m                  0 non-null       float64
 64  mths_since_rcnt_il           0 non-null       float64
 65  total_bal_il                 0 non-null       float64
 66  il_util                      0 non-null       float64
 67  open_rv_12m                  0 non-null       float64
 68  open_rv_24m                  0 non-null       float64
 69  max_bal_bc                   0 non-null       float64
 70  all_util                     0 non-null       float64
 71  total_rev_hi_lim             396009 non-null  float64
 72  inq_fi                       0 non-null       float64
 73  total_cu_tl                  0 non-null       float64
 74  inq_last_12m                 0 non-null       float64
dtypes: float64(46), int64(7), object(22)
memory usage: 266.8+ MB

## Pre-processing


### Continuous Variables
Start off cleaning continuous variables

- `term`: 多久还完，36months, 30months.
- `emp_length`: employee length.

In [6]:
loan_data['emp_length'].unique()

array(['10+ years', '< 1 year', '1 year', '3 years', '8 years', '9 years',
       '4 years', '5 years', '6 years', '2 years', '7 years', nan],
      dtype=object)

In [7]:
def clean_emp_length(experience):
    """convert the emp_length column and convert to integer

    :param _type_ experience: _description_
    :return _type_: _description_
    """
    # leave empty
    if pd.isna(experience):
        return np.nan
    if 'year' in experience:
        res = experience.split()[0]
        if res == "<":
            return 0
        elif '+' in res:
            return float(res.replace('+',''))
        else:
            return float(res)
    
    return np.nan

In [8]:
loan_data['emp_length_int'] = loan_data['emp_length'].apply(clean_emp_length)
loan_data['emp_length_int']

0         10.0
1          0.0
2         10.0
3         10.0
4          1.0
          ...
466280     4.0
466281    10.0
466282     7.0
466283     3.0
466284    10.0
Name: emp_length_int, Length: 466285, dtype: float64

In [9]:
loan_data['term'].unique()

array([' 36 months', ' 60 months'], dtype=object)

In [10]:
loan_data['term_int'] = loan_data['term'].apply(lambda x: float(x.strip().split()[0]))
loan_data['term_int']

0         36.0
1         60.0
2         36.0
3         36.0
4         60.0
          ...
466280    60.0
466281    60.0
466282    60.0
466283    36.0
466284    36.0
Name: term_int, Length: 466285, dtype: float64

Now, we look into 

- `earliest_cr_line`: The month the borrower's earliest reported credit line was opened. 第一次open credit (开信用卡，tele bill等)
- `issue_date`

For str -> datetime, it is typically three steps:

- convert to `datetime`
- Set a `reference date`, and based on granularity required, convert to months, days or years w.r.t. the reference date

In [11]:
loan_data['earliest_cr_line']

0         Jan-85
1         Apr-99
2         Nov-01
3         Feb-96
4         Jan-96
           ...
466280    Apr-03
466281    Jun-97
466282    Dec-01
466283    Feb-03
466284    Feb-00
Name: earliest_cr_line, Length: 466285, dtype: object

In [12]:
loan_data['earliest_cr_line_date'] = loan_data['earliest_cr_line'].apply(lambda x: pd.to_datetime(x,format='%b-%y'))
loan_data['earliest_cr_line_date']

0        1985-01-01
1        1999-04-01
2        2001-11-01
3        1996-02-01
4        1996-01-01
            ...
466280   2003-04-01
466281   1997-06-01
466282   2001-12-01
466283   2003-02-01
466284   2000-02-01
Name: earliest_cr_line_date, Length: 466285, dtype: datetime64[ns]

Also, we need to havd a `reference date` for the datetime. Let's assume it's to be `2017-12-01`,

In [13]:
pd.to_datetime('2017-12-01') - loan_data['earliest_cr_line_date']

0        12022 days
1         6819 days
2         5874 days
3         7974 days
4         8005 days
            ...
466280    5358 days
466281    7488 days
466282    5844 days
466283    5417 days
466284    6513 days
Name: earliest_cr_line_date, Length: 466285, dtype: timedelta64[ns]

It's more practical to convert it to month (Just like the Horizon project)

In [14]:
reference_date = pd.to_datetime('2017-12-01')

loan_data['mths_since_earliest_cr_line'] = 12 * (reference_date.year - loan_data['earliest_cr_line_date'].dt.year) 
+ (reference_date.month - loan_data['earliest_cr_line_date'].dt.month)

loan_data['mths_since_earliest_cr_line']

0         384.0
1         216.0
2         192.0
3         252.0
4         252.0
          ...
466280    168.0
466281    240.0
466282    192.0
466283    168.0
466284    204.0
Name: mths_since_earliest_cr_line, Length: 466285, dtype: float64

In [15]:
loan_data['mths_since_earliest_cr_line'].describe()

count    466256.000000
mean        234.244578
std          93.952481
min        -612.000000
25%         180.000000
50%         216.000000
75%         276.000000
max         576.000000
Name: mths_since_earliest_cr_line, dtype: float64

Check why there will be negative values

In [16]:
loan_data.loc[:,['earliest_cr_line','earliest_cr_line_date','mths_since_earliest_cr_line']][loan_data['mths_since_earliest_cr_line'] < 0]

       earliest_cr_line earliest_cr_line_date  mths_since_earliest_cr_line
1580             Sep-62            2062-09-01                       -540.0
1770             Sep-68            2068-09-01                       -612.0
2799             Sep-64            2064-09-01                       -564.0
3282             Sep-67            2067-09-01                       -600.0
3359             Feb-65            2065-02-01                       -576.0
...                 ...                   ...                          ...
464003           Jan-68            2068-01-01                       -612.0
464260           Jul-66            2066-07-01                       -588.0
465100           Oct-67            2067-10-01                       -600.0
465500           Sep-67            2067-09-01                       -600.0
465655           Jan-56            2056-01-01                       -468.0

[1169 rows x 3 columns]

Highly likely, it's due to Apr-67 has been interpreted to 2067 instead of 1067. Let's impute it to a reasonable value like `maximum observed difference`,

In [17]:
# conservatively assume to be maximum observed difference
loan_data['mths_since_earliest_cr_line'][loan_data['mths_since_earliest_cr_line'] < 0] = loan_data['mths_since_earliest_cr_line'].max()

/var/folders/ys/p64w8p0x29x2zwj61fscpjd40000gn/T/ipykernel_54067/3294124690.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan_data['mths_since_earliest_cr_line'][loan_data['mths_since_earliest_cr_line'] < 0] = loan_data['mths_since_earliest_cr_line'].max()

In [18]:
loan_data['mths_since_earliest_cr_line'].describe()

count    466256.000000
mean        237.133986
std          86.370502
min          72.000000
25%         180.000000
50%         216.000000
75%         276.000000
max         576.000000
Name: mths_since_earliest_cr_line, dtype: float64

Now, `mths_since_earliest_cr_line` is clean, let's move to `issue_date`

In [19]:
loan_data['issue_d']

0         Dec-11
1         Dec-11
2         Dec-11
3         Dec-11
4         Dec-11
           ...
466280    Jan-14
466281    Jan-14
466282    Jan-14
466283    Jan-14
466284    Jan-14
Name: issue_d, Length: 466285, dtype: object

In [20]:
loan_data['issue_d']

0         Dec-11
1         Dec-11
2         Dec-11
3         Dec-11
4         Dec-11
           ...
466280    Jan-14
466281    Jan-14
466282    Jan-14
466283    Jan-14
466284    Jan-14
Name: issue_d, Length: 466285, dtype: object

In [21]:
loan_data['issue_d_date'] = loan_data['issue_d'].apply(lambda x: pd.to_datetime(x,format='%b-%y'))

loan_data['issue_d_date']

0        2011-12-01
1        2011-12-01
2        2011-12-01
3        2011-12-01
4        2011-12-01
            ...
466280   2014-01-01
466281   2014-01-01
466282   2014-01-01
466283   2014-01-01
466284   2014-01-01
Name: issue_d_date, Length: 466285, dtype: datetime64[ns]

In [22]:
reference_date = pd.to_datetime('2017-12-01')

loan_data['mths_since_issue_d'] = 12 * (reference_date.year - loan_data['issue_d_date'].dt.year) 
+ (reference_date.month - loan_data['issue_d_date'].dt.month)

loan_data['mths_since_issue_d']

0         72
1         72
2         72
3         72
4         72
          ..
466280    36
466281    36
466282    36
466283    36
466284    36
Name: mths_since_issue_d, Length: 466285, dtype: int32

In [23]:
loan_data['mths_since_issue_d'].describe()

count    466285.000000
mean         46.340045
std          14.122490
min          36.000000
25%          36.000000
50%          36.000000
75%          48.000000
max         120.000000
Name: mths_since_issue_d, dtype: float64

### Discrete Variables

A couple of them to care, 

- grade
- sub_grade
- home_ownership
- verification_status
- loan_status
- purpose
- addr_state
- initial_list_status

We wish to convert disc to dummy variables. 

|num_category|num_dummy_variables|
|-|-|
|2|1|
|3|2|
|k|k-1|

In [24]:
discrete_cols = ['grade','sub_grade','home_ownership','verification_status','loan_status','purpose','addr_state','initial_list_status',]

In [25]:
loan_data[discrete_cols]

,grade,sub_grade,home_ownership,verification_status,loan_status,purpose,addr_state,initial_list_status
0,B,B2,RENT,Verified,Fully Paid,credit_card,AZ,f
1,C,C4,RENT,Source Verified,Charged Off,car,GA,f
2,C,C5,RENT,Not Verified,Fully Paid,small_business,IL,f
3,C,C1,RENT,Source Verified,Fully Paid,other,CA,f
4,B,B5,RENT,Source Verified,Current,other,OR,f
...,...,...,...,...,...,...,...,...
466280,C,C2,MORTGAGE,Source Verified,Current,debt_consolidation,TX,w
466281,D,D5,MORTGAGE,Verified,Charged Off,debt_consolidation,TN,f
466282,D,D1,MORTGAGE,Verified,Current,debt_consolidation,OH,f
466283,A,A4,OWN,Verified,Fully Paid,credit_card,CA,w
466284,D,D3,MORTGAGE,Verified,Current,other,CA,f

In [26]:
for i in range(len(discrete_cols)):
    print(loan_data[discrete_cols[i]].unique())

['B' 'C' 'A' 'E' 'F' 'D' 'G']
['B2' 'C4' 'C5' 'C1' 'B5' 'A4' 'E1' 'F2' 'C3' 'B1' 'D1' 'A1' 'B3' 'B4'
 'C2' 'D2' 'A3' 'A5' 'D5' 'A2' 'E4' 'D3' 'D4' 'F3' 'E3' 'F4' 'F1' 'E5'
 'G4' 'E2' 'G3' 'G2' 'G1' 'F5' 'G5']
['RENT' 'OWN' 'MORTGAGE' 'OTHER' 'NONE' 'ANY']
['Verified' 'Source Verified' 'Not Verified']
['Fully Paid' 'Charged Off' 'Current' 'Default' 'Late (31-120 days)'
 'In Grace Period' 'Late (16-30 days)'
 'Does not meet the credit policy. Status:Fully Paid'
 'Does not meet the credit policy. Status:Charged Off']
['credit_card' 'car' 'small_business' 'other' 'wedding'
 'debt_consolidation' 'home_improvement' 'major_purchase' 'medical'
 'moving' 'vacation' 'house' 'renewable_energy' 'educational']
['AZ' 'GA' 'IL' 'CA' 'OR' 'NC' 'TX' 'VA' 'MO' 'CT' 'UT' 'FL' 'NY' 'PA'
 'MN' 'NJ' 'KY' 'OH' 'SC' 'RI' 'LA' 'MA' 'WA' 'WI' 'AL' 'CO' 'KS' 'NV'
 'AK' 'MD' 'WV' 'VT' 'MI' 'DC' 'SD' 'NH' 'AR' 'NM' 'MT' 'HI' 'WY' 'OK'
 'DE' 'MS' 'TN' 'IA' 'NE' 'ID' 'IN' 'ME']
['f' 'w']

In [27]:
pd.get_dummies(loan_data['grade'],
               prefix='grade',
               prefix_sep=':',)

        grade:A  grade:B  grade:C  grade:D  grade:E  grade:F  grade:G
0         False     True    False    False    False    False    False
1         False    False     True    False    False    False    False
2         False    False     True    False    False    False    False
3         False    False     True    False    False    False    False
4         False     True    False    False    False    False    False
...         ...      ...      ...      ...      ...      ...      ...
466280    False    False     True    False    False    False    False
466281    False    False    False     True    False    False    False
466282    False    False    False     True    False    False    False
466283     True    False    False    False    False    False    False
466284    False    False    False     True    False    False    False

[466285 rows x 7 columns]

In [28]:
pd.get_dummies(loan_data['sub_grade'])

,A1,A2,A3,A4,A5,B1,B2,B3,B4,B5,C1,C2,C3,C4,C5,D1,D2,D3,D4,D5,E1,E2,E3,E4,E5,F1,F2,F3,F4,F5,G1,G2,G3,G4,G5
0,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
466280,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
466281,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
466282,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
466283,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
466284,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [29]:
def dummify_discrete(df,cols,prefix_sep = ':'):
    """dummify selected discrete categories 

    :param _type_ df: _description_
    :param _type_ cols: _description_
    :param _type_ prefix: _description_
    :param str prefix_sep: _description_, defaults to ':'
    """
    dummies = []
    for col in cols:
        tmp = pd.get_dummies(df[col],
                             prefix=str(col),
                             prefix_sep=prefix_sep,)
        dummies.append(tmp)
        
    res = pd.concat(dummies,axis = 1)

    return res

In [30]:
res = dummify_discrete(df = loan_data,cols = discrete_cols,)
res

,grade:A,grade:B,grade:C,grade:D,grade:E,grade:F,grade:G,sub_grade:A1,sub_grade:A2,sub_grade:A3,sub_grade:A4,sub_grade:A5,sub_grade:B1,sub_grade:B2,sub_grade:B3,sub_grade:B4,sub_grade:B5,sub_grade:C1,sub_grade:C2,sub_grade:C3,sub_grade:C4,sub_grade:C5,sub_grade:D1,sub_grade:D2,sub_grade:D3,sub_grade:D4,sub_grade:D5,sub_grade:E1,sub_grade:E2,sub_grade:E3,sub_grade:E4,sub_grade:E5,sub_grade:F1,sub_grade:F2,sub_grade:F3,sub_grade:F4,sub_grade:F5,sub_grade:G1,sub_grade:G2,sub_grade:G3,sub_grade:G4,sub_grade:G5,home_ownership:ANY,home_ownership:MORTGAGE,home_ownership:NONE,home_ownership:OTHER,home_ownership:OWN,home_ownership:RENT,verification_status:Not Verified,verification_status:Source Verified,verification_status:Verified,loan_status:Charged Off,loan_status:Current,loan_status:Default,loan_status:Does not meet the credit policy. Status:Charged Off,loan_status:Does not meet the credit policy. Status:Fully Paid,loan_status:Fully Paid,loan_status:In Grace Period,loan_status:Late (16-30 days),loan_status:Late (31-120 days),purpose:car,purpose:credit_card,purpose:debt_consolidation,purpose:educational,purpose:home_improvement,purpose:house,purpose:major_purchase,purpose:medical,purpose:moving,purpose:other,purpose:renewable_energy,purpose:small_business,purpose:vacation,purpose:wedding,addr_state:AK,addr_state:AL,addr_state:AR,addr_state:AZ,addr_state:CA,addr_state:CO,addr_state:CT,addr_state:DC,addr_state:DE,addr_state:FL,addr_state:GA,addr_state:HI,addr_state:IA,addr_state:ID,addr_state:IL,addr_state:IN,addr_state:KS,addr_state:KY,addr_state:LA,addr_state:MA,addr_state:MD,addr_state:ME,addr_state:MI,addr_state:MN,addr_state:MO,addr_state:MS,addr_state:MT,addr_state:NC,addr_state:NE,addr_state:NH,addr_state:NJ,addr_state:NM,addr_state:NV,addr_state:NY,addr_state:OH,addr_state:OK,addr_state:OR,addr_state:PA,addr_state:RI,addr_state:SC,addr_state:SD,addr_state:TN,addr_state:TX,addr_state:UT,addr_state:VA,addr_state:VT,addr_state:WA,addr_state:WI,addr_state:WV,addr_state:WY,initial_list_status:f,initial_list_status:w
0,False,True,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True,False,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,True,False,True,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
2,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
3,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,True,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
4,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,True,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
466280,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,False,True,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,True
466281,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,True,False
466282,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
466283,True,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,True,False,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
466284,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False

In [31]:
loan_data = pd.concat([loan_data,res],axis = 1)
loan_data.columns.values

array(['Unnamed: 0', 'id', 'member_id', 'loan_amnt', 'funded_amnt',
       'funded_amnt_inv', 'term', 'int_rate', 'installment', 'grade',
       'sub_grade', 'emp_title', 'emp_length', 'home_ownership',
       'annual_inc', 'verification_status', 'issue_d', 'loan_status',
       'pymnt_plan', 'url', 'desc', 'purpose', 'title', 'zip_code',
       'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal',
       'revol_util', 'total_acc', 'initial_list_status', 'out_prncp',
       'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv',
       'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee',
       'recoveries', 'collection_recovery_fee', 'last_pymnt_d',
       'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d',
       'collections_12_mths_ex_med', 'mths_since_last_major_derog',
       'policy_code', 'application_type', 'annual_inc_joint', 'dti_joint',
       'verification_status_joint', 'acc_now_delinq', 'tot_coll_amt',
       'tot_cur_bal', 'open_acc_6m', 'open_il_6m', 'open_il_12m',
       'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util',
       'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util',
       'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m',
       'emp_length_int', 'term_int', 'earliest_cr_line_date',
       'mths_since_earliest_cr_line', 'issue_d_date',
       'mths_since_issue_d', 'grade:A', 'grade:B', 'grade:C', 'grade:D',
       'grade:E', 'grade:F', 'grade:G', 'sub_grade:A1', 'sub_grade:A2',
       'sub_grade:A3', 'sub_grade:A4', 'sub_grade:A5', 'sub_grade:B1',
       'sub_grade:B2', 'sub_grade:B3', 'sub_grade:B4', 'sub_grade:B5',
       'sub_grade:C1', 'sub_grade:C2', 'sub_grade:C3', 'sub_grade:C4',
       'sub_grade:C5', 'sub_grade:D1', 'sub_grade:D2', 'sub_grade:D3',
       'sub_grade:D4', 'sub_grade:D5', 'sub_grade:E1', 'sub_grade:E2',
       'sub_grade:E3', 'sub_grade:E4', 'sub_grade:E5', 'sub_grade:F1',
       'sub_grade:F2', 'sub_grade:F3', 'sub_grade:F4', 'sub_grade:F5',
       'sub_grade:G1', 'sub_grade:G2', 'sub_grade:G3', 'sub_grade:G4',
       'sub_grade:G5', 'home_ownership:ANY', 'home_ownership:MORTGAGE',
       'home_ownership:NONE', 'home_ownership:OTHER',
       'home_ownership:OWN', 'home_ownership:RENT',
       'verification_status:Not Verified',
       'verification_status:Source Verified',
       'verification_status:Verified', 'loan_status:Charged Off',
       'loan_status:Current', 'loan_status:Default',
       'loan_status:Does not meet the credit policy. Status:Charged Off',
       'loan_status:Does not meet the credit policy. Status:Fully Paid',
       'loan_status:Fully Paid', 'loan_status:In Grace Period',
       'loan_status:Late (16-30 days)', 'loan_status:Late (31-120 days)',
       'purpose:car', 'purpose:credit_card', 'purpose:debt_consolidation',
       'purpose:educational', 'purpose:home_improvement', 'purpose:house',
       'purpose:major_purchase', 'purpose:medical', 'purpose:moving',
       'purpose:other', 'purpose:renewable_energy',
       'purpose:small_business', 'purpose:vacation', 'purpose:wedding',
       'addr_state:AK', 'addr_state:AL', 'addr_state:AR', 'addr_state:AZ',
       'addr_state:CA', 'addr_state:CO', 'addr_state:CT', 'addr_state:DC',
       'addr_state:DE', 'addr_state:FL', 'addr_state:GA', 'addr_state:HI',
       'addr_state:IA', 'addr_state:ID', 'addr_state:IL', 'addr_state:IN',
       'addr_state:KS', 'addr_state:KY', 'addr_state:LA', 'addr_state:MA',
       'addr_state:MD', 'addr_state:ME', 'addr_state:MI', 'addr_state:MN',
       'addr_state:MO', 'addr_state:MS', 'addr_state:MT', 'addr_state:NC',
       'addr_state:NE', 'addr_state:NH', 'addr_state:NJ', 'addr_state:NM',
       'addr_state:NV', 'addr_state:NY', 'addr_state:OH', 'addr_state:OK',
       'addr_state:OR', 'addr_state:PA', 'addr_state:RI', 'addr_state:SC',
       'addr_state:SD', 'addr_state:TN', 'addr_state:TX', 'addr_state:UT',
       'addr_state:VA', 'addr_state:VT', 'addr_state:WA', 'addr_state:WI',
       'addr_state:WV', 'addr_state:WY', 'initial_list_status:f',
       'initial_list_status:w'], dtype=object)

### Null checking

Some helpful fcns are `.isnull()`

To deal with missing values, we either

- impute
- delete it

In [32]:
loan_data.isnull()

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,emp_length_int,term_int,earliest_cr_line_date,mths_since_earliest_cr_line,issue_d_date,mths_since_issue_d,grade:A,grade:B,grade:C,grade:D,grade:E,grade:F,grade:G,sub_grade:A1,sub_grade:A2,sub_grade:A3,sub_grade:A4,sub_grade:A5,sub_grade:B1,sub_grade:B2,sub_grade:B3,sub_grade:B4,sub_grade:B5,sub_grade:C1,sub_grade:C2,sub_grade:C3,sub_grade:C4,sub_grade:C5,sub_grade:D1,sub_grade:D2,sub_grade:D3,sub_grade:D4,sub_grade:D5,sub_grade:E1,sub_grade:E2,sub_grade:E3,sub_grade:E4,sub_grade:E5,sub_grade:F1,sub_grade:F2,sub_grade:F3,sub_grade:F4,sub_grade:F5,sub_grade:G1,sub_grade:G2,sub_grade:G3,sub_grade:G4,sub_grade:G5,home_ownership:ANY,home_ownership:MORTGAGE,home_ownership:NONE,home_ownership:OTHER,home_ownership:OWN,home_ownership:RENT,verification_status:Not Verified,verification_status:Source Verified,verification_status:Verified,loan_status:Charged Off,loan_status:Current,loan_status:Default,loan_status:Does not meet the credit policy. Status:Charged Off,loan_status:Does not meet the credit policy. Status:Fully Paid,loan_status:Fully Paid,loan_status:In Grace Period,loan_status:Late (16-30 days),loan_status:Late (31-120 days),purpose:car,purpose:credit_card,purpose:debt_consolidation,purpose:educational,purpose:home_improvement,purpose:house,purpose:major_purchase,purpose:medical,purpose:moving,purpose:other,purpose:renewable_energy,purpose:small_business,purpose:vacation,purpose:wedding,addr_state:AK,addr_state:AL,addr_state:AR,addr_state:AZ,addr_state:CA,addr_state:CO,addr_state:CT,addr_state:DC,addr_state:DE,addr_state:FL,addr_state:GA,addr_state:HI,addr_state:IA,addr_state:ID,addr_state:IL,addr_state:IN,addr_state:KS,addr_state:KY,addr_state:LA,addr_state:MA,addr_state:MD,addr_state:ME,addr_state:MI,addr_state:MN,addr_state:MO,addr_state:MS,addr_state:MT,addr_state:NC,addr_state:NE,addr_state:NH,addr_state:NJ,addr_state:NM,addr_state:NV,addr_state:NY,addr_state:OH,addr_state:OK,addr_state:OR,addr_state:PA,addr_state:RI,addr_state:SC,addr_state:SD,addr_state:TN,addr_state:TX,addr_state:UT,addr_state:VA,addr_state:VT,addr_state:WA,addr_state:WI,addr_state:WV,addr_state:WY,initial_list_status:f,initial_list_status:w
0,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True,False,False,True,True,True,False,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True,False,False,True,True,True,False,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True,False,False,True,True,True,False,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True,False,False,True,True,True,False,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True,True,True,False,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
466280,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True,True,True,False,False,False,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
466281,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True,False,False,True,True,True,False,False,False,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
466282,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True,True,True,False,False,False,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
466283,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True,False,False,True,True,True,False,False,False,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
466284,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True,True,True,False,False,False,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [33]:
loan_data.isnull().sum()

Unnamed: 0               0
id                       0
member_id                0
loan_amnt                0
funded_amnt              0
                        ..
addr_state:WI            0
addr_state:WV            0
addr_state:WY            0
initial_list_status:f    0
initial_list_status:w    0
Length: 207, dtype: int64

In [34]:
missing_cols = loan_data.columns[loan_data.isnull().sum()>0].to_list()
missing_cols

['emp_title',
 'emp_length',
 'annual_inc',
 'desc',
 'title',
 'delinq_2yrs',
 'earliest_cr_line',
 'inq_last_6mths',
 'mths_since_last_delinq',
 'mths_since_last_record',
 'open_acc',
 'pub_rec',
 'revol_util',
 'total_acc',
 'last_pymnt_d',
 'next_pymnt_d',
 'last_credit_pull_d',
 'collections_12_mths_ex_med',
 'mths_since_last_major_derog',
 'annual_inc_joint',
 'dti_joint',
 'verification_status_joint',
 'acc_now_delinq',
 'tot_coll_amt',
 'tot_cur_bal',
 'open_acc_6m',
 'open_il_6m',
 'open_il_12m',
 'open_il_24m',
 'mths_since_rcnt_il',
 'total_bal_il',
 'il_util',
 'open_rv_12m',
 'open_rv_24m',
 'max_bal_bc',
 'all_util',
 'total_rev_hi_lim',
 'inq_fi',
 'total_cu_tl',
 'inq_last_12m',
 'emp_length_int',
 'earliest_cr_line_date',
 'mths_since_earliest_cr_line']

We are going to deal with

- `annual_inc`: impute with mean of non-missing
- `total_rev_hi_lim`: impute with `funded_amnt`

for the following, replace with zeros
- `mths_since_earliest_cr_line`
- `acc_now_delinq`
- `total_acc`
- `pub_rec`
- `open_acc`
- `inq_last_6mths`
- `delinq_2yrs`
- `emp_length_int`

In [35]:
loan_data['total_rev_hi_lim']

0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
           ...
466280    29900.0
466281    39400.0
466282    13100.0
466283    53100.0
466284    16000.0
Name: total_rev_hi_lim, Length: 466285, dtype: float64

In [36]:
loan_data['total_rev_hi_lim'].fillna(loan_data['funded_amnt'],inplace=True,)

In [37]:
loan_data['total_rev_hi_lim'].isnull().sum()

0

In [38]:
def fillna_with_mean(df,cols):
    for col in cols:
        mean = df[col].mean()
        df[col].fillna(mean,inplace=True)
    

def fillna_with_zero(df,cols):
    for col in cols:
        df[col].fillna(0,inplace=True)
        

fillna_with_mean(loan_data,["annual_inc"])
fillna_with_zero(loan_data,[
    'mths_since_earliest_cr_line',
    'acc_now_delinq',
    'total_acc',
    'pub_rec',
    'open_acc',
    'inq_last_6mths',
    'delinq_2yrs',
    'emp_length_int'
])

/var/folders/ys/p64w8p0x29x2zwj61fscpjd40000gn/T/ipykernel_54067/3132386509.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(mean,inplace=True)
/var/folders/ys/p64w8p0x29x2zwj61fscpjd40000gn/T/ipykernel_54067/3132386509.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(0,inplace=True)

In [39]:
loan_data.isnull().sum()

Unnamed: 0               0
id                       0
member_id                0
loan_amnt                0
funded_amnt              0
                        ..
addr_state:WI            0
addr_state:WV            0
addr_state:WY            0
initial_list_status:f    0
initial_list_status:w    0
Length: 207, dtype: int64

## Data Preparation

### Dependent variable

For PD, the following variables are related,

- default/non-default


The we need a threshold value to determine whether a loan is default.

> Interpretability is important in such model by regulatory organization and it enforces simplicity in the model development phase to reduce convoluted model. That's why we use only `binary indicator` AKA `dummy variable`.

In [40]:
loan_data['loan_status'].unique()

array(['Fully Paid', 'Charged Off', 'Current', 'Default',
       'Late (31-120 days)', 'In Grace Period', 'Late (16-30 days)',
       'Does not meet the credit policy. Status:Fully Paid',
       'Does not meet the credit policy. Status:Charged Off'],
      dtype=object)

In [41]:
loan_data['loan_status'].value_counts()/loan_data['loan_status'].count()

loan_status
Current                                                0.480878
Fully Paid                                             0.396193
Charged Off                                            0.091092
Late (31-120 days)                                     0.014798
In Grace Period                                        0.006747
Does not meet the credit policy. Status:Fully Paid     0.004263
Late (16-30 days)                                      0.002612
Default                                                0.001784
Does not meet the credit policy. Status:Charged Off    0.001632
Name: count, dtype: float64

In [42]:
loan_data['good_bad'] = loan_data['loan_status'].apply(lambda x: 0 if x in ["Charged Off",
                                                  "Default",
                                                  "Does not meet the credit policy. Status:Charged Off",
                                                  "Late (31-120 days)"] else 1)

loan_data[['good_bad','loan_status']].head(10)

   good_bad  loan_status
0         1   Fully Paid
1         0  Charged Off
2         1   Fully Paid
3         1   Fully Paid
4         1      Current
5         1   Fully Paid
6         1      Current
7         1   Fully Paid
8         0  Charged Off
9         0  Charged Off

### Independent Variable

We need to prepare data for both discrete and continuous. For discrete, it's straight forward. For continuous, we use fine-classing (idea of bucketing). Continuous数据三部曲, 

- `fine classing`: convert `debt to income ratio` into 50 categories of 2% each.
- `determine weight of evidence` of each category
- `coarse classing`

Of cuz we also need 权重 to determine relative importance of feature. Weight of evidence (`WoE`) is used in risk modeling,

$$
\begin{equation}
WoE_i = ln\left(\frac{\%\;of\; good}{\%\;of\;bad}\right)
\end{equation}
$$

假设我们有两个category, higher education and no higher education. 然后计算他们的default率，

![](./assets/2.png)

```mermaid
flowchart TD
a["fine classing"]
b["weight of evidence"]
c["coarse classing"]

a --> b
b --> c
```

|-|description|example|
|-|-|-|
|fine classing|divide continuous variable into roughly equal finite categories according to an **internal criteria**, such as the values of the variable or the number of cases in each category|把每个人的税后收入，归于50个bucket, 每个bucket中的人数相等|
|weight of evidence|The extent to which a categorical independent variable explains the difference of a categorical outcome variable|权重, |
|coarse classing|splitting a variable into categories according to an **external criteria** that show how much the categories explain another variable, such as weight of evidence|-|

### Information Value


`Information value` is used for pre-selecting the features and IV shows the extent to which an original independent variable, split into categories, is informative of an outcome variable.

$$
\text{IV} = \sum_{i=1}^{n} (\text{WOE}_i - \text{Overall WOE}) \times (\text{Distribution of Good}_i - \text{Distribution of Bad}_i)

$$


Typically, it's tabulated as follow

![](https://miro.medium.com/v2/resize:fit:970/1*prl00Y2OtCtdYj6LmTz2eQ.png)


Then we can determine higher education is a weak predictor (explained by IV) but it's significant with whether it's a good or bad borrower

![](./assets/3.png)

### Splitting Data

To avoid overfitting, we typically divide data up to test set and train set (90%/10% or 80%/20%)

In [43]:
from sklearn.model_selection import train_test_split

In [44]:
# good_bad: dependent variable
train_test_split(loan_data.drop('good_bad',axis=1),loan_data['good_bad'])

[        Unnamed: 0        id  member_id  loan_amnt  funded_amnt  \
 129954      129954   5617175    6999425      17600        17600
 120095      120095   5772609    7204417      35000        35000
 123541      123541   5834714    7226452      11000        11000
 108813      108813   6517846    8069917       6300         6300
 11468        11468    814621    1022151      19600        19600
 ...            ...       ...        ...        ...          ...
 189882      189882   1637722    1910064       5700         5700
 197104      197104   1542889    1808591      15675        15675
 58165        58165   9025146   10837247      35000        35000
 213351      213351   1341826    1586405       9200         9200
 364205      364205  19606330   21829087      35000        35000

         funded_amnt_inv        term  int_rate  installment grade sub_grade  \
 129954          17600.0   60 months     20.49       471.11     E        E1
 120095          35000.0   60 months     22.20       970.65     E        E4
 123541          11000.0   36 months     15.31       383.00     C        C2
 108813           6300.0   36 months     11.55       207.90     B        B3
 11468           19600.0   60 months     23.22       555.02     G        G4
 ...                 ...         ...       ...          ...   ...       ...
 189882           5700.0   36 months     13.11       192.36     B        B4
 197104          15675.0   36 months     17.27       560.97     C        C5
 58165           35000.0   36 months     14.30      1201.33     C        C1
 213351           9200.0   36 months     10.74       300.07     B        B2
 364205          35000.0   36 months     17.57      1257.80     D        D4

                                 emp_title emp_length home_ownership  \
 129954                carquest auto parts    5 years       MORTGAGE
 120095          Catapult Direct Marketing     1 year       MORTGAGE
 123541                   wells fargo bank  10+ years           RENT
 108813            Dr Pepper Snapple Group  10+ years       MORTGAGE
 11468             Union National Mortgage   < 1 year       MORTGAGE
 ...                                   ...        ...            ...
 189882                  Howard University    3 years           RENT
 197104                     MedStar Health    9 years       MORTGAGE
 58165   Regional Special Agent in Charge   10+ years       MORTGAGE
 213351                   The Raymond Corp  10+ years       MORTGAGE
 364205     Information Security Architect  10+ years       MORTGAGE

         annual_inc verification_status issue_d  loan_status pymnt_plan  \
 129954     50000.0            Verified  Jun-13   Fully Paid          n
 120095    130000.0            Verified  Jul-13   Fully Paid          n
 123541     32000.0        Not Verified  Jul-13  Charged Off          n
 108813     43000.0        Not Verified  Aug-13   Fully Paid          n
 11468     170000.0            Verified  Jul-11   Fully Paid          n
 ...            ...                 ...     ...          ...        ...
 189882     85000.0     Source Verified  Oct-12   Fully Paid          n
 197104     50000.0            Verified  Sep-12   Fully Paid          n
 58165     130000.0            Verified  Nov-13      Current          n
 213351     43000.0            Verified  Jun-12   Fully Paid          n
 364205    140000.0            Verified  Jun-14      Current          n

                                                       url  \
 129954  https://www.lendingclub.com/browse/loanDetail....
 120095  https://www.lendingclub.com/browse/loanDetail....
 123541  https://www.lendingclub.com/browse/loanDetail....
 108813  https://www.lendingclub.com/browse/loanDetail....
 11468   https://www.lendingclub.com/browse/loanDetail....
 ...                                                   ...
 189882  https://www.lendingclub.com/browse/loanDetail....
 197104  https://www.lendingclub.com/browse/loanDetail....
 58165   https://www.lendingclub.com/browse/loanDetail....
 213351  https://www.lendingclub.com/browse/loanDetail....
 364205  https://www.lendingclub.com/browse/loanDetail....

                                                      desc             purpose  \
 129954                                                NaN  debt_consolidation
 120095                                                NaN  debt_consolidation
 123541                                                NaN  debt_consolidation
 108813                                                NaN         credit_card
 11468     Borrower added on 07/12/11 > Money is used t...    home_improvement
 ...                                                   ...                 ...
 189882    Borrower added on 10/20/12 > Little short on...               house
 197104    Borrower added on 09/17/12 > My accounts hav...  debt_consolidation
 58165     Borrower added on 11/21/13 > To consolidate ...         credit_card
 213351    Borrower added on 06/07/12 > consolidating h...               other
 364205                                                NaN  debt_consolidation

                           title zip_code addr_state    dti  delinq_2yrs  \
 129954       debt consolidation    472xx         IN  22.20          0.0
 120095       Consolidation Loan    951xx         CA  20.59          0.0
 123541       Consolidation loan    926xx         CA  25.54          0.0
 108813       Credit card payoff    494xx         MI  11.22          0.0
 11468          Home Improvement    410xx         KY  22.12          0.0
 ...                         ...      ...        ...    ...          ...
 189882  Home Buying Downpayment    207xx         MD  13.53          0.0
 197104           Credit Cleanup    212xx         MD  27.02          0.0
 58165              Credit cards    775xx         TX  31.84          2.0
 213351              consolidate    137xx         NY  34.24          0.0
 364205       Debt consolidation    368xx         AL  18.18          3.0

        earliest_cr_line  inq_last_6mths  mths_since_last_delinq  \
 129954           May-99             0.0                    27.0
 120095           Dec-98             1.0                     NaN
 123541           Oct-01             0.0                     NaN
 108813           Nov-01             2.0                     NaN
 11468            Jun-93             0.0                     NaN
 ...                 ...             ...                     ...
 189882           Mar-03             1.0                     NaN
 197104           May-98             1.0                     NaN
 58165            Dec-98             0.0                     6.0
 213351           Sep-95             1.0                     NaN
 364205           Oct-95             3.0                     9.0

         mths_since_last_record  open_acc  pub_rec  revol_bal  revol_util  \
 129954                     NaN      15.0      0.0      16287        74.0
 120095                     NaN       9.0      0.0     273144        56.3
 123541                     NaN       7.0      0.0      20413        94.9
 108813                   111.0       9.0      1.0       6959        38.9
 11468                      NaN      11.0      0.0     125558        98.6
 ...                        ...       ...      ...        ...         ...
 189882                     NaN       9.0      0.0       9352        58.4
 197104                     NaN      20.0      0.0      31034        96.4
 58165                      NaN       9.0      0.0      23509        94.0
 213351                     NaN      13.0      0.0      14001        37.6
 364205                    77.0       6.0      1.0      29278        93.5

         total_acc initial_list_status  out_prncp  out_prncp_inv   total_pymnt  \
 129954       48.0                   f       0.00           0.00  21260.227910
 120095       23.0                   w       0.00           0.00  38788.160000
 123541       14.0                   w       0.00           0.00   8326.830000
 108813       18.0                   f       0.00           0.00   6743.931665
 11468        23.0                   f       0.00           0.00  33101.499970
 ...           ...                 ...        ...            ...           ...
 189882       12.0                   f       0.00           0.00   6552.336727
 197104       38.0                   f       0.00           0.00  19998.274890
 58165        26.0                   f   12316.40       12316.40  30033.160000
 213351       29.0                   f       0.00           0.00  10271.280000
 364205       12.0                   w   19776.31       19776.31  22640.400000

         total_pymnt_inv  total_rec_prncp  total_rec_int  total_rec_late_fee  \
 129954         21260.23         17600.00        3660.23                 0.0
 120095         38788.16         35000.00        3788.16                 0.0
 123541          8326.83          5180.21        2096.79                 0.0
 108813          6743.93          6300.00         443.93                 0.0
 11468          33101.50         19600.00       13501.50                 0.0
 ...                 ...              ...            ...                 ...
 189882          6552.34          5700.00         852.34                 0.0
 197104         19998.27         15675.00        4323.27                 0.0
 58165          30033.16         22683.60        7349.56                 0.0
 213351         10271.28          9200.00        1071.28                 0.0
 364205         22640.40         15223.69        7416.71                 0.0

         recoveries  collection_recovery_fee last_pymnt_d  last_pymnt_amnt  \
 129954        0.00                   0.0000       Jul-14         15614.19
 120095        0.00                   0.0000       Jan-14         33948.99
 123541     1049.83                 188.9694       Feb-15           383.00
 108813        0.00                   0.0000       Apr-14          5291.21
 11468         0.00                   0.0000       Dec-15          6460.54
 ...            ...                      ...          ...              ...
 189882        0.00                   0.0000       Mar-14          3482.26
 197104        0.00                   0.0000       Jun-15            50.29
 58165         0.00                   0.0000       Dec-15          1201.33
 213351        0.00                   0.0000       Oct-13          5782.69
 364205        0.00                   0.0000       Dec-15          1257.80

        next_pymnt_d last_credit_pull_d  collections_12_mths_ex_med  \
 129954          NaN             Oct-15                         0.0
 120095          NaN             Jan-14                         0.0
 123541          NaN             Jul-15                         0.0
 108813          NaN             Jan-16                         0.0
 11468           NaN             Dec-15                         0.0
 ...             ...                ...                         ...
 189882          NaN             Jun-15                         0.0
 197104          NaN             Jan-16                         0.0
 58165        Jan-16             Jan-16                         0.0
 213351          NaN             Jan-16                         0.0
 364205       Feb-16             Jan-16                         0.0

         mths_since_last_major_derog  policy_code application_type  \
 129954                         27.0            1       INDIVIDUAL
 120095                          NaN            1       INDIVIDUAL
 123541                          NaN            1       INDIVIDUAL
 108813                          NaN            1       INDIVIDUAL
 11468                           NaN            1       INDIVIDUAL
 ...                             ...          ...              ...
 189882                          NaN            1       INDIVIDUAL
 197104                          NaN            1       INDIVIDUAL
 58165                           NaN            1       INDIVIDUAL
 213351                          NaN            1       INDIVIDUAL
 364205                          NaN            1       INDIVIDUAL

         annual_inc_joint  dti_joint  verification_status_joint  \
 129954               NaN        NaN                        NaN
 120095               NaN        NaN                        NaN
 123541               NaN        NaN                        NaN
 108813               NaN        NaN                        NaN
 11468                NaN        NaN                        NaN
 ...                  ...        ...                        ...
 189882               NaN        NaN                        NaN
 197104               NaN        NaN                        NaN
 58165                NaN        NaN                        NaN
 213351               NaN        NaN                        NaN
 364205               NaN        NaN                        NaN

         acc_now_delinq  tot_coll_amt  tot_cur_bal  open_acc_6m  open_il_6m  \
 129954             0.0           0.0     158322.0          NaN         NaN
 120095             0.0           0.0     632372.0          NaN         NaN
 123541             0.0           0.0      20413.0          NaN         NaN
 108813             0.0           0.0     103317.0          NaN         NaN
 11468              0.0           NaN          NaN          NaN         NaN
 ...                ...           ...          ...          ...         ...
 189882             0.0           0.0      49124.0          NaN         NaN
 197104             0.0           0.0     193682.0          NaN         NaN
 58165              0.0           0.0     218601.0          NaN         NaN
 213351             0.0           NaN          NaN          NaN         NaN
 364205             0.0           0.0     221306.0          NaN         NaN

         open_il_12m  open_il_24m  mths_since_rcnt_il  total_bal_il  il_util  \
 129954          NaN          NaN                 NaN           NaN      NaN
 120095          NaN          NaN                 NaN           NaN      NaN
 123541          NaN          NaN                 NaN           NaN      NaN
 108813          NaN          NaN                 NaN           NaN      NaN
 11468           NaN          NaN                 NaN           NaN      NaN
 ...             ...          ...                 ...           ...      ...
 189882          NaN          NaN                 NaN           NaN      NaN
 197104          NaN          NaN                 NaN           NaN      NaN
 58165           NaN          NaN                 NaN           NaN      NaN
 213351          NaN          NaN                 NaN           NaN      NaN
 364205          NaN          NaN                 NaN           NaN      NaN

         open_rv_12m  open_rv_24m  max_bal_bc  all_util  total_rev_hi_lim  \
 129954          NaN          NaN         NaN       NaN           22000.0
 120095          NaN          NaN         NaN       NaN          316300.0
 123541          NaN          NaN         NaN       NaN           21500.0
 108813          NaN          NaN         NaN       NaN           17900.0
 11468           NaN          NaN         NaN       NaN           19600.0
 ...             ...          ...         ...       ...               ...
 189882          NaN          NaN         NaN       NaN           16000.0
 197104          NaN          NaN         NaN       NaN           32200.0
 58165           NaN          NaN         NaN       NaN           25000.0
 213351          NaN          NaN         NaN       NaN            9200.0
 364205          NaN          NaN         NaN       NaN           31300.0

         inq_fi  total_cu_tl  inq_last_12m  emp_length_int  term_int  \
 129954     NaN          NaN           NaN             5.0      60.0
 120095     NaN          NaN           NaN             1.0      60.0
 123541     NaN          NaN           NaN            10.0      36.0
 108813     NaN          NaN           NaN            10.0      36.0
 11468      NaN          NaN           NaN             0.0      60.0
 ...        ...          ...           ...             ...       ...
 189882     NaN          NaN           NaN             3.0      36.0
 197104     NaN          NaN           NaN             9.0      36.0
 58165      NaN          NaN           NaN            10.0      36.0
 213351     NaN          NaN           NaN            10.0      36.0
 364205     NaN          NaN           NaN            10.0      36.0

        earliest_cr_line_date  mths_since_earliest_cr_line issue_d_date  \
 129954            1999-05-01                        216.0   2013-06-01
 120095            1998-12-01                        228.0   2013-07-01
 123541            2001-10-01                        192.0   2013-07-01
 108813            2001-11-01                        192.0   2013-08-01
 11468             1993-06-01                        288.0   2011-07-01
 ...                      ...                          ...          ...
 189882            2003-03-01                        168.0   2012-10-01
 197104            1998-05-01                        228.0   2012-09-01
 58165             1998-12-01                        228.0   2013-11-01
 213351            1995-09-01                        264.0   2012-06-01
 364205            1995-10-01                        264.0   2014-06-01

         mths_since_issue_d  grade:A  grade:B  grade:C  grade:D  grade:E  \
 129954                  48    False    False    False    False     True
 120095                  48    False    False    False    False     True
 123541                  48    False    False     True    False    False
 108813                  48    False     True    False    False    False
 11468                   72    False    False    False    False    False
 ...                    ...      ...      ...      ...      ...      ...
 189882                  60    False     True    False    False    False
 197104                  60    False    False     True    False    False
 58165                   48    False    False     True    False    False
 213351                  60    False     True    False    False    False
 364205                  36    False    False    False     True    False

         grade:F  grade:G  sub_grade:A1  sub_grade:A2  sub_grade:A3  \
 129954    False    False         False         False         False
 120095    False    False         False         False         False
 123541    False    False         False         False         False
 108813    False    False         False         False         False
 11468     False     True         False         False         False
 ...         ...      ...           ...           ...           ...
 189882    False    False         False         False         False
 197104    False    False         False         False         False
 58165     False    False         False         False         False
 213351    False    False         False         False         False
 364205    False    False         False         False         False

         sub_grade:A4  sub_grade:A5  sub_grade:B1  sub_grade:B2  sub_grade:B3  \
 129954         False         False         False         False         False
 120095         False         False         False         False         False
 123541         False         False         False         False         False
 108813         False         False         False         False          True
 11468          False         False         False         False         False
 ...              ...           ...           ...           ...           ...
 189882         False         False         False         False         False
 197104         False         False         False         False         False
 58165          False         False         False         False         False
 213351         False         False         False          True         False
 364205         False         False         False         False         False

         sub_grade:B4  sub_grade:B5  sub_grade:C1  sub_grade:C2  sub_grade:C3  \

You can pass in
- test_size
- random_state

In [45]:
loan_data_inputs_train,loan_data_inputs_test,loan_data_targets_train,loan_data_targets_test = train_test_split(loan_data.drop('good_bad',axis=1),loan_data['good_bad'],test_size=0.2,random_state=42)

In [46]:
print(loan_data.shape)
print(loan_data_inputs_train.shape)
print(loan_data_inputs_test.shape)
print(loan_data_targets_train.shape)
print(loan_data_targets_test.shape)

(466285, 208)
(373028, 207)
(93257, 207)
(373028,)
(93257,)

## Data Prep Example

Here we show an example of data preparation for an independent variable

In [47]:
# define pre-processing
df_inputs_prepr = loan_data_inputs_train
df_targets_prepr = loan_data_targets_train

In [48]:
df_inputs_prepr['grade'].unique()

array(['A', 'C', 'D', 'B', 'E', 'F', 'G'], dtype=object)

In [49]:
df1 = pd.concat([df_inputs_prepr['grade'],df_targets_prepr],axis=1)

df1.head()

       grade  good_bad
427211     A         1
206088     C         1
136020     A         1
412305     D         0
36159      C         0

Now, we need to calculate % of good and bad to calculate WoE, we follow

- groupby first column's value 
- select the column of choice `df1.columns.values[1]`
- aggregate by count()

In [50]:
df1.groupby(df1.columns.values[0],as_index = False)[df1.columns.values[1]].count()

  grade  good_bad
0     A     59759
1     B    109730
2     C    100245
3     D     61498
4     E     28612
5     F     10530
6     G      2654

In [51]:
df1.groupby(df1.columns.values[0],as_index = False)[df1.columns.values[1]].mean()

  grade  good_bad
0     A  0.961044
1     B  0.921015
2     C  0.885770
3     D  0.846304
4     E  0.805257
5     F  0.754416
6     G  0.727958

In [52]:
df1 = pd.concat([df1.groupby(df1.columns.values[0],as_index = False)[df1.columns.values[1]].count(),
                 df1.groupby(df1.columns.values[0],as_index = False)[df1.columns.values[1]].mean()]
                ,axis = 1)

df1

  grade  good_bad grade  good_bad
0     A     59759     A  0.961044
1     B    109730     B  0.921015
2     C    100245     C  0.885770
3     D     61498     D  0.846304
4     E     28612     E  0.805257
5     F     10530     F  0.754416
6     G      2654     G  0.727958

In [53]:
df1 = df1.iloc[:,[0,1,3]]
df1

  grade  good_bad  good_bad
0     A     59759  0.961044
1     B    109730  0.921015
2     C    100245  0.885770
3     D     61498  0.846304
4     E     28612  0.805257
5     F     10530  0.754416
6     G      2654  0.727958

Rename to number of observation and proportion of good

In [54]:
df1.columns = [df1.columns.values[0],'n_obs','prop_good']
df1

  grade   n_obs  prop_good
0     A   59759   0.961044
1     B  109730   0.921015
2     C  100245   0.885770
3     D   61498   0.846304
4     E   28612   0.805257
5     F   10530   0.754416
6     G    2654   0.727958

In [55]:
# proportion of number of observation. Measure这个category总人数占总人口的比例
df1['prop_n_obs'] = df1['n_obs']/df1['n_obs'].sum()
df1

  grade   n_obs  prop_good  prop_n_obs
0     A   59759   0.961044    0.160200
1     B  109730   0.921015    0.294160
2     C  100245   0.885770    0.268733
3     D   61498   0.846304    0.164862
4     E   28612   0.805257    0.076702
5     F   10530   0.754416    0.028228
6     G    2654   0.727958    0.007115

In [56]:
# 计算number of observation for goods and bad
df1['n_good'] = df1['prop_good'] * df1['n_obs']
df1['n_bad'] = (1 - df1['prop_good']) * df1['n_obs']
df1

  grade   n_obs  prop_good  prop_n_obs    n_good    n_bad
0     A   59759   0.961044    0.160200   57431.0   2328.0
1     B  109730   0.921015    0.294160  101063.0   8667.0
2     C  100245   0.885770    0.268733   88794.0  11451.0
3     D   61498   0.846304    0.164862   52046.0   9452.0
4     E   28612   0.805257    0.076702   23040.0   5572.0
5     F   10530   0.754416    0.028228    7944.0   2586.0
6     G    2654   0.727958    0.007115    1932.0    722.0

In [59]:
df1['prop_n_good'] = df1['n_good']/df1['n_good'].sum()
df1['prop_n_bad'] = df1['n_bad']/df1['n_bad'].sum()
df1

,grade,n_obs,prop_good,prop_n_obs,n_good,n_bad,prop_n_good,prop_n_bad,WoE
0,A,59759,0.961044,0.160200,57431.0,2328.0,0.172855,0.057090,-1.755303
1,B,109730,0.921015,0.294160,101063.0,8667.0,0.304178,0.212541,-1.190144
2,C,100245,0.885770,0.268733,88794.0,11451.0,0.267251,0.280813,-1.319569
3,D,61498,0.846304,0.164862,52046.0,9452.0,0.156647,0.231792,-1.853760
4,E,28612,0.805257,0.076702,23040.0,5572.0,0.069345,0.136642,-2.668656
5,F,10530,0.754416,0.028228,7944.0,2586.0,0.023910,0.063417,-3.733471
6,G,2654,0.727958,0.007115,1932.0,722.0,0.005815,0.017706,-5.147332

In [61]:
df1['WoE'] = np.log(df1['prop_n_good']/df1['prop_n_bad'])
df1

,grade,n_obs,prop_good,prop_n_obs,n_good,n_bad,prop_n_good,prop_n_bad,WoE
0,A,59759,0.961044,0.160200,57431.0,2328.0,0.172855,0.057090,1.107830
1,B,109730,0.921015,0.294160,101063.0,8667.0,0.304178,0.212541,0.358476
2,C,100245,0.885770,0.268733,88794.0,11451.0,0.267251,0.280813,-0.049503
3,D,61498,0.846304,0.164862,52046.0,9452.0,0.156647,0.231792,-0.391843
4,E,28612,0.805257,0.076702,23040.0,5572.0,0.069345,0.136642,-0.678267
5,F,10530,0.754416,0.028228,7944.0,2586.0,0.023910,0.063417,-0.975440
6,G,2654,0.727958,0.007115,1932.0,722.0,0.005815,0.017706,-1.113459

In [62]:
df1.sort_values(['WoE'],inplace=True)
df1.reset_index(drop = True,inplace=True)
df1

,grade,n_obs,prop_good,prop_n_obs,n_good,n_bad,prop_n_good,prop_n_bad,WoE
0,G,2654,0.727958,0.007115,1932.0,722.0,0.005815,0.017706,-1.113459
1,F,10530,0.754416,0.028228,7944.0,2586.0,0.023910,0.063417,-0.975440
2,E,28612,0.805257,0.076702,23040.0,5572.0,0.069345,0.136642,-0.678267
3,D,61498,0.846304,0.164862,52046.0,9452.0,0.156647,0.231792,-0.391843
4,C,100245,0.885770,0.268733,88794.0,11451.0,0.267251,0.280813,-0.049503
5,B,109730,0.921015,0.294160,101063.0,8667.0,0.304178,0.212541,0.358476
6,A,59759,0.961044,0.160200,57431.0,2328.0,0.172855,0.057090,1.107830

Calculate difference between adjacent

In [66]:
df1['diff_prop_good'] = df1['prop_good'].diff().abs()
df1['diff_WoE'] = df1['WoE'].diff().abs()
df1

,grade,n_obs,prop_good,prop_n_obs,n_good,n_bad,prop_n_good,prop_n_bad,WoE,diff_prop_good,diff_WoE
0,G,2654,0.727958,0.007115,1932.0,722.0,0.005815,0.017706,-1.113459,NaN,NaN
1,F,10530,0.754416,0.028228,7944.0,2586.0,0.023910,0.063417,-0.975440,0.026458,0.138019
2,E,28612,0.805257,0.076702,23040.0,5572.0,0.069345,0.136642,-0.678267,0.050841,0.297173
3,D,61498,0.846304,0.164862,52046.0,9452.0,0.156647,0.231792,-0.391843,0.041047,0.286424
4,C,100245,0.885770,0.268733,88794.0,11451.0,0.267251,0.280813,-0.049503,0.039466,0.342340
5,B,109730,0.921015,0.294160,101063.0,8667.0,0.304178,0.212541,0.358476,0.035245,0.407979
6,A,59759,0.961044,0.160200,57431.0,2328.0,0.172855,0.057090,1.107830,0.040028,0.749353

In [67]:
df1['IV'] = (df1['prop_n_good'] - df1['prop_n_bad']) * df1['WoE']
df1['IV'] = df1['IV'].sum()
df1

,grade,n_obs,prop_good,prop_n_obs,n_good,n_bad,prop_n_good,prop_n_bad,WoE,diff_prop_good,diff_WoE,IV
0,G,2654,0.727958,0.007115,1932.0,722.0,0.005815,0.017706,-1.113459,NaN,NaN,0.288636
1,F,10530,0.754416,0.028228,7944.0,2586.0,0.023910,0.063417,-0.975440,0.026458,0.138019,0.288636
2,E,28612,0.805257,0.076702,23040.0,5572.0,0.069345,0.136642,-0.678267,0.050841,0.297173,0.288636
3,D,61498,0.846304,0.164862,52046.0,9452.0,0.156647,0.231792,-0.391843,0.041047,0.286424,0.288636
4,C,100245,0.885770,0.268733,88794.0,11451.0,0.267251,0.280813,-0.049503,0.039466,0.342340,0.288636
5,B,109730,0.921015,0.294160,101063.0,8667.0,0.304178,0.212541,0.358476,0.035245,0.407979,0.288636
6,A,59759,0.961044,0.160200,57431.0,2328.0,0.172855,0.057090,1.107830,0.040028,0.749353,0.288636